
.registration {
  margin-bottom: 20px;
}

.additional-info {
  margin-top: 10px;

}

.fact {
  margin-top: -10px;
}

#surname,
#cats,
#color,
#bed-time {
  margin-bottom: 10px;

}

#email,
#car-select,
#color,
#years,
#accept,
#birth,
#rate,
#pass,
#recommend {
  margin-top: 10px;
}
